
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<UskudarDenetim.UI.Models.ModelService>
@using System.Globalization;
<style>
    .effect-img:hover {
        opacity: 0.3;
        transition: .5s ease;
    }
</style>
<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>Hizmetlerimiz</h1>
            </div>
        </div>
    </div>
    <div class="dt-sc-margin100"></div>
    <div class="container">
        <!-- Primary Starts -->
        <section id="primary" class="content-full-width">
            <div class="blog-items apply-isotope">
           
                @foreach (var service in Model)
                {
                    <div class="column dt-sc-one-half">
                        <article class="blog-post type3">
                            <div class="entry-thumb">
                                <a href="@Url.Action("Detail","Service",new { id=service.Id})"><img src="~/Images/450x300/bg2.jpg" class="effect-img" alt="image"  style="max-width: 50%;
    border-radius: 12px;" /></a>
                            </div> <!-- **entry-thumb - Ends** -->
                            <!-- **entry-detail - Starts** -->
                            <div class="entry-detail">
                                <div class="entry-title">
                                    <h4><a href="@Url.Action("Detail","Service",new { id=service.Id})">@service.Name</a></h4>
                                </div>
                                <div class="entry-title">
                                    <p>@Html.Raw(service.ShortDescription)<a href="@Url.Action("Detail","Service",new { id=service.Id})">  devamını oku... </a></p>
                                </div>
                            </div> <!-- **entry-detail - Ends** -->
                        </article>
                    </div>
                }
            </div>
            <div class="dt-sc-margin50"></div>
        </section> <!-- **Primary - Ends** -->

    </div> <!-- **container - Ends** -->

</div> <!-- **Main - Ends** -->
