@model List<UskudarDenetim.UI.Models.ModelEmployee>
@{ ViewBag.Title = "Ekibimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count != 0)
{
    <style>

        .crop img {
            width: 200px;
            height: 200px;
        }
    </style>
    <div class="full-width-section">
        <div class="dt-sc-margin70"></div>
        <div class="container">

            <div class="column dt-sc-one-fourth first">
                <div class="dt-sc-team-wrapper">
                    <h2>Ekibimizle Tanışın</h2>
                    <p>
                        Ekibimiz Hakkında Detaylı Bilgi Elde Etmek İçin Resmin Üzerine Tıklamanız Yeterli.
                    </p>
                </div><!-- **dt-sc-team-carousel - Ends** -->
            </div>
            <div class="column dt-sc-three-fourth">
                <!-- **dt-sc-team-carousel-wrapper - Starts** -->
                <div class="dt-sc-team-carousel-wrapper">
                    <div class="dt-sc-team-carousel">
                        @foreach (var emp in Model)
                        {
                            <div class="column dt-sc-one-fourth" onclick="getExtraDetail('@emp.Id')">
                                <div class="dt-sc-team">
                                    <div class="image crop">
                                        <img src="@emp.ImgSrc" alt="@emp.FirstName @emp.LastName" />
                                    </div>
                                    <div class="team-details">
                                        <h6><a href="#">@emp.FirstName @emp.LastName</a></h6>
                                        <p>@emp.Title</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="carousel-arrows">
                        <a class="prev" href="#"><span class="fa fa-angle-left"></span> </a>
                        <a class="next" href="#"><span class="fa fa-angle-right"></span> </a>
                    </div>
                </div><!-- **dt-sc-team-carousel-wrapper - Ends** -->
            </div>
            <div id="emp-main" class="column first" style="display:none">
                <div class="dt-sc-team-wrapper">
                    <h1 id="emp-name"></h1>
                    <h2 id="emp-title"></h2>
                    <p id="emp-description">
                      
                    </p>
                </div>
            </div>
            <div class="dt-sc-margin45"></div>
        </div>
    </div><!-- **Full-width-section - Ends** -->


}
@section scripts{
    <script>

        function getExtraDetail(id) {
            debugger;
            var $ = jQuery;
           $('#emp-name').html('');
            $('#emp-title').html('');
            $('#emp-description').html('');
            var model = @Html.Raw(Json.Encode(Model));
            var currentModel;
            for (var i = 0; i < model.length; i++) {
                if (model[i].Id == id) {
                    currentModel = model[i];
                    $('#emp-name').html(currentModel.FirstName+' '+currentModel.LastName);
                    $('#emp-title').html(currentModel.Title);
                    $('#emp-description').html(currentModel.Description);
                    $('#emp-main').removeAttr('style');
                    break;
                }
            }
        }
    </script>

}

