@model List<UskudarDenetim.UI.Models.ModelEmployee>
@{ ViewBag.Title = "Ekibimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="aligncenter">Ekip Yapısı</h2>
<div class="full-width-section" style="margin-bottom:150px">
    <div class="container">
        @*<p class="middle-align">Çalışma Arkadaşlarımız<br /> Latin literature from 45 BC, making it over 2000 years old. </p>*@
        <div class="dt-sc-hr-invisible-small"></div>
        <div class="dt-sc-timeline-wrapper">
            @{
                int count = 0;
            }
            @foreach (var employee in Model)
            {
                if (count % 2 == 0)
                {
                    <div class="dt-sc-timeline-team right">
                        <div class="column dt-sc-one-half first">
                            <div class="dt-sc-hr-invisible"></div>
                        </div>
                        <div class="column dt-sc-one-half">
                            <div class="dt-sc-hr-invisible"></div>
                            <!-- **dt-sc-team - Starts** -->
                            <div class="dt-sc-team type4">
                                <div class="image"><img src="@employee.ImgSrc" alt="iamge" /></div>
                                <!-- **team-details - Starts** -->
                                <div class="team-details">
                                    <h6><a href="#">@employee.FirstName @employee.LastName</a></h6>
                                    <p>@employee.Title</p>
                                    <p>@employee.Profession</p>
                                </div> <!-- **team-details - Ends** -->
                            </div><!-- **dt-sc-team - Ends** -->
                        </div>
                    </div>
                }
                else
                {
                    <div class="dt-sc-timeline-team left">

                        <div class="column dt-sc-one-half first">
                            <!-- **dt-sc-team - Starts** -->
                            <div class="dt-sc-team type4">
                                <div class="image"><img src="@employee.ImgSrc" alt="iamge" /></div>
                                <!-- **team-details - Starts** -->
                                <div class="team-details">
                                    <h6><a href="#">@employee.FirstName @employee.LastName</a></h6>
                                    <p>@employee.Title</p>
                                    <p>@employee.Profession</p>
                                </div>
                            </div>
                        </div>

                        <div class="column dt-sc-one-half">
                            <div class="dt-sc-hr-invisible"></div>
                        </div>

                    </div>
                }

                count++;
            }

        </div>
    </div>
</div>

