@{
    ViewBag.Title = "Ana Sayfa";
}

@Html.Partial("_Banner")
@Html.Action("GetServices", "Service")
@Html.Action("GetActivityAreas", "ActivityArea")
@Html.Action("GetCircular", "Circular")
@Html.Action("_PracticalInformations", "PracticalInformations")


@Html.Action("AllEmployee", "Admin")
<div class="dt-sc-margin100" style="margin-top:140px;"></div>
@Html.Partial("_ReachUS", new UskudarDenetim.UI.Models.ModelContact())
<div class="dt-sc-margin100"></div>
<!-- Container starts-->
@Html.Action("_SharedLinks", "SharedLink")

@section scripts {
    <script>
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
}