@{
    ViewBag.Title = "Ana Sayfa";
}

@Html.Partial("_Banner")

@Html.Action("GetActivityAreas", "ActivityArea")
@Html.Action("GetServices", "Service")


@Html.Partial("_FAQAndMaster")
@Html.Partial("_Employees")
<div class="dt-sc-margin100"></div>
@Html.Partial("_ReachUS", new UskudarDenetim.UI.Models.ModelContact())
<div class="dt-sc-margin100"></div>
<!-- Container starts-->
@Html.Action("_SharedLinks", "SharedLink")

@section scripts {
    <script>
        function openInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}
    </script>
}