@{
    ViewBag.Title = "Ana Sayfa";
}

@Html.Partial("_Banner")
@*Hizmetlerimiz kısmı eksik *@
@*@Html.Partial("_OurServices")*@
@Html.Action("GetActivityAreas","ActivityArea")
@Html.Partial("_WhatWeDo")
@Html.Partial("_FAQAndMaster")
@Html.Partial("_Employees")
<div class="dt-sc-margin100"></div>
@Html.Partial("_ReachUS", new UskudarDenetim.UI.Models.ModelContact())
@Html.Partial("_ContactUS")