@model List<UskudarDenetim.UI.Models.ModelCircular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization;
<style>
    .effect-img:hover {
        opacity: 0.3;
        transition: .5s ease;
    }
</style>
<link href="~/Content/Datatable/datatable.css" rel="stylesheet" />

<div id="main" class="mb-50">
    <div class="parallax full-width-bg mb-50" >
        <div class="container">
            <div class="main-title">
                <h1>Sirküler</h1>
            </div>
        </div>
    </div>
    <div class="container" >
        <table id="circular-list-table" class="table table-striped table-bordered table-sm" cellspacing="0">
            <thead>
                <tr>
                    <th class="th-sm">
                        No
                    </th>
                    <th class="th-sm">
                        Tarih
                    </th>
                    <th class="th-sm">
                        Adı
                    </th>

                    <th class="th-sm">
                        Konu
                    </th>
                    <th class="th-sm">
                        Detay
                    </th>

                </tr>
            </thead>
            <tbody>
                @{ int count = 0;}
                @foreach (var item in Model.OrderByDescending(x=>x.CreatedDate.Value))
                {
                <tr>
                    <td>@(++count)</td>
                    <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)</td>
                    <td>@item.Name</td>
                    <td>@item.Header</td>
                    <td><a href="@Url.Action("Detail","Circular",new { id=item.Id })"><i class="fa fa-edit"></i> Görüntüle</a></td>
                </tr>
                }

            </tbody>
        </table>
    </div> <!-- **container - Ends** -->
</div> <!-- **Main - Ends** -->
<script src="~/Content/Datatable/datatable.js"></script>
<script>
    var $ = jQuery;
    $(document).ready(function () {
        $('#circular-list-table').DataTable({
            language: {
                url: '/Content/Datatable/tr-datatable.json'
            }
        });
    });
</script>
