@model List<UskudarDenetim.UI.Models.ModelCircular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization;
<style>
    .effect-img:hover {
        opacity: 0.3;
        transition: .5s ease;
    }
</style>
<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>Sirküler</h1>
            </div>
        </div>
    </div>
    <div class="dt-sc-margin100"></div>
    <div class="container">
        <!-- Primary Starts -->
        <section id="primary" class="content-full-width">
            <div class="blog-items apply-isotope">
                @if (Model.Count == 0)
                {
                    <h3>Henüz Sirkü Eklenmemiştir.</h3>
                }
                @foreach (var circular in Model.OrderByDescending(x => x.CreatedDate))
                {
                    <div class="column dt-sc-one-half">
                        <article class="blog-post type3">
                            <div class="entry-thumb">
                                <a href="@Url.Action("Detail","Circular",new { id=circular.Id})"><img src="~/Images/450x300/pen.png" class="effect-img" alt="image" /></a>
                            </div> <!-- **entry-thumb - Ends** -->
                            <!-- **entry-detail - Starts** -->
                            <div class="entry-detail">
                                <div class="entry-title">
                                    <h4><a href="@Url.Action("Detail","Circular",new { id=circular.Id})">@circular.Header</a></h4>
                                </div>
                                <!-- **entry-meta-data - Starts** -->
                                <div class="entry-meta-data">
                                    <p><span class="fa fa-user"> </span> Yayınlanma Tarihi: <a href="#"> @circular.CreatedDate </a></p>

                                </div> <!-- **entry-meta-data - Ends** -->
                                <div class="entry-title">
                                    <p>@circular.Title<a href="@Url.Action("Detail","Circular",new { id=circular.Id})   ">  devamını oku... </a></p>
                                </div>
                            </div> <!-- **entry-detail - Ends** -->
                        </article>
                    </div>
                }
            </div>
            <div class="dt-sc-margin50"></div>
        </section> <!-- **Primary - Ends** -->

    </div> <!-- **container - Ends** -->

</div> <!-- **Main - Ends** -->
