@model UskudarDenetim.UI.Models.ModelHRApplyForm
@{
    ViewBag.Title = "Başvuru Detayı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

        <div class="full-width-section parallax full-section-bg">
            <div class="container">
                <div class="dt-sc-clear"></div>
                <div class="form-wrapper register">
                    <form>
                        <h4>IK Aday Başvuru Detayı </h4>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.Name,new  {@readonly="readonly" ,@class="form-control"})
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.Surname, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.IdentityNumber, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.Email, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.Gender, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.Birthdate, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.Address, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.CityName, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.ExternalPhoneNumber, new { @readonly = "readonly", @class = "form-control" })
                        </p>

                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.EducationStatus, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column ">
                            @Html.TextBoxFor(x => x.Note, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column first">
                            @Html.TextBoxFor(x => x.Position, new { @readonly = "readonly", @class = "form-control" })
                        </p>
                        <p class="dt-sc-one-half column">

                        </p>
                        <input class="button bg-button-color-success " value="Cv İndir" type="button">
                    </form>
                </div>
            </div>
        </div>
@section scripts{

}


