@model UskudarDenetim.UI.Models.ModelPracticalInformationViewModel
<div class="full-width-section">
    <div class="dt-sc-margin70"></div>
    <div class="container">
        <div class="column dt-sc-three-fourth first">
            <div class="hr-title">
                <h3>Pratik Bilgiler</h3>
                <div class="title-sep"> </div>
            </div>
            <!-- **dt-sc-toggle-frame-set - Starts** -->
            <div class="dt-sc-toggle-frame-set">
                @{ int count = 0;}
                @foreach (var faq in Model.PracticalInformationList)
                {
                    <h5 class="dt-sc-toggle-accordion @if (count==0)
	{
		 <text>block</text>
	}"><a href="#">@faq.Name</a></h5>
                    <div class="dt-sc-toggle-content">
                        <div class="block">
                            @faq.Description <br />
                            <a href="@Url.Action("PracticalInformationDetail","PracticalInformations",new {id=faq.Id })">Detay için tıklaynız..</a>
                        </div>
                    </div>
                }


            </div> 

        </div>

        <div class="column dt-sc-one-fourth">
            <div class="hr-title">
                <h3>Üstad</h3>
                <div class="title-sep">
                </div>
            </div>
            <!-- **dt-sc-team - Starts** -->
            <div class="dt-sc-team">
                <div class="image">
                    <a href="#"><img src="~/Images/160x160/Ustad.png" alt="image" /></a>
                </div>
                <div class="team-details">
                    <h6><a href="#">@Model.Director.FirstName @Model.Director.LastName</a></h6>
                    <p>@Model.Director.Title</p>
                </div>
                <p> @Model.Director.About</p>
            </div>
        </div><!-- **dt-sc-team - Ends** -->

    </div>
    <div class="dt-sc-hr-invisible-small"></div>
</div>
<div class="hr-line"></div>