@model UskudarDenetim.UI.Models.ModelPracticalInformationViewModel
<div class="full-width-section">
    <div class="dt-sc-margin70"></div>
    <div class="container">
        <div class="column dt-sc-one-third first">
            <div class="hr-title">
                <h3>Sektörler</h3>
                <div class="title-sep"> </div>
            </div>
            @{ double count2 = 0.75;}
            @foreach (var sector in Model.Sector)
            {
                <ul class="dt-sc-icon-list" style="padding-bottom:0px;margin-bottom:3px">
                    <li class="animate" data-animation="fadeInUp" data-delay="@(count2*100)" style="padding-bottom:0px;border-bottom:none"><a href="#"><i class="fa fa-circle-thin"></i>@sector.Name</a></li>
                </ul>
            }
        </div>
        <div class="column dt-sc-one-third ">
            <div class="hr-title">
                <h3>Pratik Bilgiler</h3>
                <div class="title-sep"> </div>
            </div>
            <!-- **dt-sc-toggle-frame-set - Starts** -->
            <div class="dt-sc-toggle-frame-set">
                @{ double count = 0.75;}
                @foreach (var faq in Model.PracticalInformationList)
                {
                    <ul class="dt-sc-icon-list">
                        <li class="animate" data-animation="fadeInUp" data-delay="@(count*100)"><a href="@Url.Action("PracticalInformationDetail","PracticalInformations",new {id=faq.Id})"><i class="fa fa-info"></i>@faq.Description</a></li>
                    </ul>
                    count++;
                }


            </div>

        </div>
        <div class="column dt-sc-one-third ">
            <div class="hr-title">
                <h3>Yeminli Mali Müşavir </h3>
                <div class="title-sep">
                </div>
            </div>
            <!-- **dt-sc-team - Starts** -->
            <div class="dt-sc-team">
                <div class="image">
                    <a href="#"><img src="~/Images/160x160/Ustad.png" alt="image" /></a>
                </div>
                <div class="team-details">
                    <h6><a href="#">@Model.Director.FirstName @Model.Director.LastName</a></h6>
                    <p>@Model.Director.Title</p>
                </div>
                <p> @Model.Director.About</p>
            </div>
        </div>
    </div>
    <div class="dt-sc-hr-invisible-small"></div>
</div>
<div class="hr-line"></div>