@model List<UskudarDenetim.UI.Models.ModelPracticalInformation>
@{
    ViewBag.Title = "Pratik Bilgiler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="full-width-section parallax full-section-bg">
    <div class="container">
        <div class="form-wrapper register">
            <form>
                <h4>Hizmetlerimiz</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hizmet Adı</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col"> <input type="button" value="Yeni Kayıt" onclick="CreatePracticalInformation()" class="dt-sc-button float-inherit" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                        }
                        @foreach (var practicalInformation in Model)
                        {
                            <tr>
                                <th scope="row">@Html.Raw(++count)</th>
                                <td>@practicalInformation.Name</td>
                                <td>  <input type="button" style="background-color:red !important" value="Sil" onclick="deleteService('@practicalInformation.Id)')" class="dt-sc-button float-inherit" /></td>
                                <td>
                                    <input type="button" value="Düzenle" onclick="openUpdatePracticalInformationModal('@Html.Raw(Model)')" class="dt-sc-button float-inherit" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@Html.Partial("PracticalInformationModal", new UskudarDenetim.UI.Models.ModelPracticalInformation())
@section scripts{

    <script type="text/javascript">
        function openUpdatePracticalInformationModal(model) {
            debugger;
            $('#Id').text(model.Id)
            $('#Name').val(model.Name);
            $('#Description').val(model.Description);
            $('#IconClassName').val(model.IconClassName);

            $('#ServiceModal').modal();
        }
        function CreatePracticalInformation() {
            debugger;
            $('#Id').text('');
            $('#Name').val('');
            $('#Description').val('');
            $('#IconClassName').val('');
            $('#ServiceModal').modal();

        }
        function deleteService(id) {
            debugger;
            var request = $.ajax({
                url: "/PracticalInformation/Delete",
                type: "POST",
                data: { id: id }
            });

            request.done(function (msg) {
            });

            request.fail(function (jqXHR, textStatus) {
            });
    }
    </script>
}



