@model List<UskudarDenetim.UI.Models.ModelPracticalInformation>
@{
    ViewBag.Title = "Pratik Bilgiler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="full-width-section parallax full-section-bg">
    <div class="container">
        <div class="form-wrapper register">
            <form>
                <h4>Pratik Bilgiler</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hizmet Adı</th>
                            <th scope="col"></th>
                            <th scope="col"> <input type="button" value="Yeni Kayıt" onclick="location.href = '@Url.Action("Create","PracticalInformations")';" class="dt-sc-button float-inherit" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                        }
                        @foreach (var practicalInformation in Model)
                        {
                            <tr>
                                <th scope="row">@Html.Raw(++count)</th>
                                <td>@practicalInformation.Name</td>
                                <td>  <input type="button" style="background-color:red !important" value="Sil" onclick="deletePI('@practicalInformation.Id')" class="dt-sc-button float-inherit" /></td>
                                <td>
                                    <input type="button" value="Düzenle" onclick="location.href = '@Url.Action("Update","PracticalInformations",new {id=practicalInformation.Id })';" class="dt-sc-button float-inherit" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        function deletePI(id) {
            debugger;
            var request = $.ajax({
                url: "/PracticalInformations/Delete",
                type: "POST",
                data: { id: id }
            });

            request.done(function (response) {
                if (response.success) {
                    openShowSuccessModal(response.message)
                } else {
                    openShowErrorModal(response.message)
                }
            });

            request.fail(function (response) {
                openShowErrorModal(response.message)
            });
    }
    </script>
}



