@model UskudarDenetim.UI.Models.ModelContact
@{
    ViewBag.Title = "İletişim Bilgileri Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="full-width-section parallax full-section-bg">
    <div class="container">
        <div class="dt-sc-clear"></div>
        <div class="form-wrapper register">
            @using (Ajax.BeginForm("UpdateContact", "Admin", new AjaxOptions()
            {
                HttpMethod = "Post",
                OnSuccess = "OnSuccessUpdateContact",
                OnFailure = "OnFailureUpdateContact"
            }))
            {
                @*Adres Tablosuyla alakalı inputlar*@
                @Html.HiddenFor(x => x.Address.Id)
                <h4>Adres Bilgileri</h4>
                <p class="dt-sc-one-half column first">
                    @Html.TextBoxFor(x => x.Address.Name, new { @placeholder = "Adres Adını Giriniz", @required = "required" })
                </p>
                <p class="dt-sc-one-half column">
                    @Html.TextBoxFor(x => x.Address.Header, new { @placeholder = "Adres Açıklamasını Giriniz", @required = "required" })
                </p>
            
                <p class="dt-sc-one-column">
                    @Html.TextAreaFor(x => x.Address.AddressDetail, new {@class="mt-10", @placeholder = "Adresi Giriniz", @required = "required" })
                </p>

                @Html.HiddenFor(x => x.Id)
                <h4>İletişim Bilgileri</h4>
                <p class="dt-sc-one-half column first">
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "İş yeri Numarasını Giriniz", @data_inputmask = "'mask':'(0999)-999-99-99'" })
                </p>
                <p class="dt-sc-one-half column">
                    @Html.TextBoxFor(x => x.FaxNumber, new { @placeholder = "Fax Numarasını Giriniz", @required = "required", @data_inputmask = "'mask':'(0999)-999-99-99'" })

                </p>
                <p class="dt-sc-one-half column first">
                    @Html.TextBoxFor(x => x.LocalePhoneNumber, new { @placeholder = "Cep Telefonu Giriniz", @data_inputmask = "'mask':'(0999)-999-99-99'" })

                </p>
                <p class="dt-sc-one-half column">
                    @Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "Birincil E-Posta Adresi", @required = "required" })
                </p>
                <input class="button bg-button-color-success " value="Kaydet" type="submit">
            }

        </div>
        <div class="form-wrapper register">
            <form>
                <h4>Sosyal Medya Bilgileri</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ad</th>
                            <th scope="col">Link</th>
                            <th scope="col"> <input type="button" value="Yeni Kayıt" onclick="openUpdateSocialMediaModal();" class="dt-sc-button float-inherit" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var socialMediaModel in Model.ContactSocialMedias)
                        {
                        <tr>
                            <td>@socialMediaModel.SocialMediaName</td>
                            <td>@socialMediaModel.Url</td>
                            <td>
                                <input type="button" style="background-color:red !important" value="Sil" onclick="deleteSocialMedia('@socialMediaModel.SocialMediaId')" class="dt-sc-button float-inherit" />  <input type="button" value="Değiştir" onclick="openUpdateSocialMediaModal('@socialMediaModel.SocialMediaId','@socialMediaModel.SocialMediaName','@socialMediaModel.IconClassName','@socialMediaModel.Url')" class="dt-sc-button float-inherit" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@Html.Partial("UpdateSocialMediaModal",new UskudarDenetim.UI.Models.ModelSocialMedia())
@section scripts{

    <script type="text/javascript">

        function OnSuccessUpdateContact(response) {
            if (response.Success) {
              //  jQuery('#updateSocialMedia').modal('hide');
                openShowSuccessModal(response.Message);
                jQuery('#success-modal').on('hidden.bs.modal', function () {
                    debugger;
                    location.reload();
                });

            }
            else {
                openShowErrorModal(response.Message)
                jQuery('#error-modal').on('hidden.bs.modal', function () {
                    debugger;
                    location.reload();
                });
            }
        }
        function OnFailureUpdateContact(response) {
            openShowErrorModal(response.Message)
            jQuery('#error-modal').on('hidden.bs.modal', function () {
                debugger;
                location.reload();
            });
        }
      
        function OnSuccessUpdateSocialMedia(response) {
            if (response.Success) {
                openShowSuccessModal(response.Message);
                jQuery('#success-modal').on('hidden.bs.modal', function () {
                    debugger;
                    location.reload();
                });
            }
            else {
                openShowErrorModal(response.Message)
                jQuery('#error-modal').on('hidden.bs.modal', function () {
                    debugger;
                    location.reload();
                });
            }
        }
        function OnFailureUpdateSocialMedia() {
            openShowErrorModal(response.Message)
            jQuery('#error-modal').on('hidden.bs.modal', function () {
                debugger;
                location.reload();
            });
        }
      
        function openUpdateSocialMediaModal(id,name,icon,url) {
            debugger; 
            if (id==null) {
                $('#social-label').text('Sosyal Medya Hesabı Ekle')
                $('#Url').val('');
                $('#SocialMediaId').val('');
                $('#SocialMediaName').val('');
                $('#IconClassName').val('');
            }
            $('#social-label').text(name)
            $('#Url').val(url);
            $('#SocialMediaId').val(id);
            $('#SocialMediaName').val(name);
            $('#IconClassName').val(icon);
            $('#updateSocialMedia').modal();

        }
        function deleteSocialMedia(id) {
            debugger;
            var request = $.ajax({
                url: "/SocialMedia/Delete",
                type: "POST",
                data: { id: id }
            });

            request.done(function (response) {
                if (response.Success) {
                    openShowSuccessModal(response.Message)
                    jQuery('#success-modal').on('hidden.bs.modal', function () {
                        debugger;
                        location.reload();
                    });
                }
                else {
                    alert('Hata oluştu')
                }
            });

            request.fail(function (jqXHR, textStatus) {
                alert('Hata oluştu')
            });
        }
    </script>

}
