<!Doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-~/Scripts"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="tr-TR" class="no-js">

<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Üsküdar Denetim Yeminli Mali Müşavir</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.~/Scripts"></script>
    <![endif]-->
 
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css")
</head>
<body>

    <div class="wrapper">
        <div class="inner-wrapper">
            @Html.Partial("_AdminHeader")
            <div id="main">
                @RenderBody()

            </div>
        </div>
    </div>
    @Html.Partial("../Modal/SuccessMessageModal")
    @Html.Partial("../Modal/ErrorMessageModal")

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/inputmask")
    <script>
        var $ = jQuery;
        Inputmask().mask(document.querySelectorAll("input"));
        $('#EmailAddress').inputmask({
            mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@@*{1,20}[.*{2,6}][.*{1,2}]",
            greedy: false,
            onBeforePaste: function (pastedValue, opts) {
                pastedValue = pastedValue.toLowerCase();
                return pastedValue.replace("mailto:", "");
            },
            definitions: {
                '*': {
                    validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                    casing: "lower"
                }
            }
        });
        $("input[name='FileOne']").on("change", function (event1) {
            debugger;
            src1 = URL.createObjectURL(event1.target.files[0]);
            document.querySelector("[for=FileOne]").style.backgroundImage = 'url(' + src1 + ')';
        });
    </script>
    <script>
        function OnSuccessSubscription(response) {
            if (response.success) {
                openShowSuccessModal(response.message)
            }
            else {
                openShowErrorModal(response.message);
            }
        }
        function OnFailureSubscription(response) {
            if (response.success) {
                openShowErrorModal(response.message);
            }
            else {
                openShowErrorModal(response.message);
            }
        }

        function openShowSuccessModal(message) {
            jQuery('#success-modal-title').html('BAŞARILI')
            jQuery('#success-modal-body').html(message)
            jQuery('#success-modal').modal();
        }
        function openShowErrorModal(message) {
            jQuery('#error-modal-title').html('HATA')
            jQuery('#error-modal-body').html(message)
            jQuery('#error-modal').modal();
        }
      
    </script>
</body>
</html>


