<div id="header-wrapper">
    <header class="header">
        <div class="container">
            <div id="menu-container">
                <nav id="main-menu">
                    <div id="dt-menu-toggle" class="dt-menu-toggle">
                        Menu
                        <span class="dt-menu-toggle-icon"></span>
                    </div>
                    <ul class="menu">
                        @*<li class="current_page_item menu-item-simple-parent">
            <a href="@Url.Action("Index","Admin")">Ana Sayfaya Git</a>
            <a class="dt-menu-expand">+</a>
        </li>*@
                        <li class="menu-item-simple-parent @(ViewContext.RouteData.Values["controller"].ToString().Equals("Circular")? "current_page_item":"")">
                            <a href="@Url.Action("CircularList","Circular")">Sirküler</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("Services","Service")">Hizmetler</a>
                        </li>
                        <li class="menu-item-simple-parent mce_backcolor">
                            <a href="@Url.Action("Employees","TeamMember")">Çalışanlar</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("PracticalInformations","PracticalInformations")">Pratik Bilgiler</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("ActivityAreas","ActivityArea")">Faailiyet alanları</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        @*<li class="menu-item-simple-parent">
            <a href="@Url.Action("UpdateContact","Admin")">İletişim</a>
            <a class="dt-menu-expand">+</a>
        </li>



        <li class="menu-item-simple-parent">
            <a href="@Url.Action("GetAllApplyFrom","HR")">IK</a>
            <a class="dt-menu-expand">+</a>
        </li>
        <li class="menu-item-simple-parent">
            <a href="@Url.Action("SharedLinks","SharedLink")">Faydalı Linkler</a>
            <a class="dt-menu-expand">+</a>
        </li>
        <li class="menu-item-simple-parent">
            <a href="@Url.Action("PracticalInformations","PracticalInformations")">Faydalı Bilgiler</a>
            <a class="dt-menu-expand">+</a>
        </li>*@

                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>