<div id="header-wrapper">
    <header class="header">
        <div class="container">
            <div id="logo">
                <a href="/Home/Index" title="Attorney"> <img src="../Images/ud-logo.png" alt="logo" /> </a>
            </div>
            <div id="menu-container">
                <nav id="main-menu">
                    <div id="dt-menu-toggle" class="dt-menu-toggle">
                        Menu
                        <span class="dt-menu-toggle-icon"></span>
                    </div>
                    <ul class="menu">
                        <li class="current_page_item menu-item-simple-parent">
                            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                            <a href="@Url.Action("TeamMember","Admin")">Ekip Yapısı</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("Services","Admin")">Hizmetlerimiz</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
                            <a href="#">İnsan Kaynakları</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="tabs-accordions.html">Sirküler</a>
                            <ul class="sub-menu">
                                <li><a href="404-page.html">Vergi Sirkülerİ</a></li>
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("About","Home")">Hakkımızda</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("Contact","Home")">İletişim</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("","")">Randevu</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="@Url.Action("","")">Çıkış Yap</a>
                            <a class="dt-menu-expand">+</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>