@model UskudarDenetim.UI.Models.ModelFooter
<footer id="footer">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="column dt-sc-one-third  first">
                <aside class="widget widget_text">
                    <h3 class="widget-title">İletişim  <span class="wlast"> Bilgileri </span><span class="small-line"> </span></h3>
                    <p> <i class="fa fa-phone"></i> <span>Telefon:</span> @Model.PhoneNumber</p>
                    <p> <i class="fa fa-print"></i> <span>Fax:</span>@Model.FaxNumber</p>
                    <p> <i class="fa fa-envelope"></i> <span> Email:</span> <a href="mailto:@(Model.Email)" target="_top">@Model.Email</a> </p>
                    <p>
                        <i class="fa fa-location-arrow"></i> <span>
                            @Html.Raw(Model.Address)
                        </span>
                    </p>

                </aside>
            </div>
            <style>

                .currency {
                    color: white;
                    background-color: #191919 !important;
                    border-bottom: 0px !important
                }
            </style>
            <div class="column dt-sc-one-third">
                <aside class="widget widget_popular_entries">
                    <h3 class="widget-title">Döviz <span class="wlast">Bilgileri</span><span class="small-line"> </span></h3>
                    <div class="column dt-sc-one-fourth">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="currency">&nbsp;</td>
                                    <td class="currency"><span>Alış</span></td>
                                    <td class="currency"><span>Satış</span></td>
                                </tr>
                                @if (Model.Currency != null)
                                {
                                    <tr>
                                        <td class="currency"><span>Dolar</span></td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "US DOLLAR").BanknoteBuying</td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "US DOLLAR").BanknoteSelling</td>
                                    </tr>

                                    <tr>
                                        <td class="currency"><span>Euro</span></td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "EURO").BanknoteBuying</td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "EURO").BanknoteSelling</td>
                                    </tr>
                                    <tr>
                                        <td class="currency"><span>Pound</span></td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "POUND STERLING").BanknoteBuying</td>
                                        <td class="currency">@Model.Currency.Currency.FirstOrDefault(x => x.CurrencyName == "POUND STERLING").BanknoteSelling</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </aside>
            </div>

            @*<div class="column dt-sc-one-fourth">
                    <aside class="widget widget_tweetbox">
                        <h3 class="widget-title">Twitter <span class="wlast">Feeds</span><span class="small-line"> </span></h3>
                        <div class="tweet_list"> </div>
                    </aside>
                </div>*@

            <div class="column dt-sc-one-third">
                <aside class="widget mailchimp">
                    <h3 class="widget-title">Bülten <span class="wlast">Aboneliği</span><span class="small-line"> </span></h3>
                    <p>Üsküdar Denetim Hakkındaki En Son ve Güncel Haberler İçin Abone Olun!</p>
                    @using (Ajax.BeginForm("CreateSubscription", "Home", new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        OnSuccess = "OnSuccessSubscription",
                        OnFailure = "OnFailureSubscription"
                    }, new { @class = "mailchimp-form" }))
                    {
                        <p>
                            <span class="fa fa-envelope"></span>

                            @Html.TextBoxFor(Model => Model.EmailSubs, new { placeholder = "Mail Adresinizi Giriniz", style = "width: 60% !important", required = "required" });
                            <input style="padding-top:19px !important" type="submit" class="dt-sc-button" value="Abone Ol" />
                        </p>
                    }
                    <div class="dt-sc-hr-invisible-small"></div>
                    <ul class="dt-sc-social-icons">
                        @foreach (var socialMedia in Model.SocialMedia)
                        {
                            <li><a class="dt-sc-tooltip-top @socialMedia.SocialMediaName.ToLower()" href="@socialMedia.Url" target="_blank" title="@socialMedia.SocialMediaName"> <i class="@socialMedia.IconClassName"></i> </a></li>
                        }
                    </ul>
                </aside>
            </div>

        </div>
    </div><!-- **footer-widgets-wrapper - End** -->

    <div class="copyright" style="   background-color: #191919;
    color: white;">
        <div class="container align-center">
            <p>Tüm Hakları Saklıdır. Üsküdar Denetim © @DateTime.Now.Year <a href="www.ahmetsariyer.com.tr" target="_blank"></a></p>
        </div>
    </div>

</footer>

