@model UskudarDenetim.UI.Models.ModelHeader
<div id="header-wrapper">
    <header class="header">
        <div class="container">
            <div id="logo">
                <a href="/Home/Index" title="Üsküdar Denetim"> <img src="/Images/ud-logo.png" alt="logo" /> </a>
            </div>
            <div id="menu-container">
                <nav id="main-menu">
                    <div id="dt-menu-toggle" class="dt-menu-toggle">
                        Menu
                        <span class="dt-menu-toggle-icon"></span>
                    </div>
                    <ul class="menu">
                        <li class=" @(ViewContext.RouteData.Values["action"].ToString().Equals("Index")&& ViewContext.RouteData.Values["controller"].ToString().Equals("Home")? "current_page_item":"") menu-item-simple-parent">
                            <a href="@Url.Action("Index","Home")">Ana Sayfa</a>
                        </li>
                        @*<li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0">
            <a href="@Url.Action("Index","TeamMember")">Ekip Yapısı</a>
            <a class="dt-menu-expand">+</a>
        </li>*@
                        <li class="menu-item-simple-parent @(ViewContext.RouteData.Values["action"].ToString().Equals("ServiceDetail")? "current_page_item":"") @(ViewContext.RouteData.Values["controller"].ToString().Equals("Service")? "current_page_item":"") ">
                            <a href="@Url.Action("Index", "Service")">Hizmetlerimiz</a>
                            <ul class="sub-menu">
                                @foreach (var item in Model.Services)
                                {
                                    <li><a href="@Url.Action("Detail","Service",new { id=item.Id})">@item.Name</a></li>
                                }
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-megamenu-parent megamenu-5-columns-group menu-item-depth-0">
                            <a href="@Url.Action("Index","PracticalInformations")">Pratik Bilgiler</a>
                            <div class="megamenu-child-container">
                                <ul class="sub-menu">
                                    @* Kategori foreach *@
                                    @foreach (var item in Model.CatPI)
                                    {
                                        <li>
                                            <a href="portfolio-1-column-without-space.html" style="color:#2a6496;"> @item.Name</a>

                                            <ul class="sub-menu">
                                                @foreach (var pi in Model.PI.Where(x=>x.CategoryId==item.Id).ToList())
                                                {
                                                    <li><a href="@Url.Action("Detail","PracticalInformations",new { id=pi.Id})">@pi.Name.ToLowerInvariant()</a></li>
                                                }
                                            </ul>
                                            <a class="dt-menu-expand">+</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent @(ViewContext.RouteData.Values["controller"].ToString().Equals("Circular")? "current_page_item":"") @(ViewContext.RouteData.Values["controller"].ToString().Equals("PracticalInformations")? "current_page_item":"")">
                            <a href="@Url.Action("Index","Circular")">Sirküler</a>
                         
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent @(ViewContext.RouteData.Values["action"].ToString().Equals("Appointment")? "current_page_item":"")   @(ViewContext.RouteData.Values["controller"].ToString().Equals("HR")? "current_page_item":"")">
                            <a href="#">Online İşlemler</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Appointment","Home")">Randevu</a></li>
                                <li> <a href="@Url.Action("Index","HR")">İnsan Kaynakları</a></li>
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent @(ViewContext.RouteData.Values["action"].ToString().Equals("About")? "current_page_item":"")   @(ViewContext.RouteData.Values["controller"].ToString().Equals("TeamMember")? "current_page_item":"")">
                            <a href="@Url.Action("About","Home")">Hakkımızda</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                                <li><a href="@Url.Action("Index","TeamMember")">Ekip Yapısı</a></li>
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent  @(ViewContext.RouteData.Values["action"].ToString().Equals("Contact")? "current_page_item":"")">
                            <a href="@Url.Action("Contact","Home")">İletişim</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>