<!Doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-~/Scripts"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="tr-TR" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Üsküdar Denetim Yeminli Mali Müşavir</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/bundles/css")
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.~/Scripts"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="wrapper">
        <div class="inner-wrapper">
            @Html.Partial("_TopBar")
            @Html.Partial("_Header")
            <div id="main">
                @RenderBody()
            </div>
            @Html.Partial("_Footer")
            @Html.Partial("../Modal/SuccessMessageModal")
        </div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/inputmask")
    <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
    <script data-cfasync="false" type="text/javascript">lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_11', 'jquery'); } else { lsjQuery("#layerslider_11").layerSlider({ responsiveUnder: 1240, layersContainer: 1170, startInViewport: false, pauseOnHover: false, forceLoopNum: false, autoPlayVideos: false, skinsPath: '../Scripts/layerslider/skins/' }) } });</script>
    <script>
        Inputmask().mask(document.querySelectorAll("input"));
    </script>
</body>
</html>


