<!Doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-~/Scripts"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-~/Scripts"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<style>
    h1 ,h2 ,h3,h4,h5,h6 ,p,a{
        font-family: 'Open Sans', sans-serif !important;
    }
    .top-bar  container ul{
        color:white !important;
    }
    .top-bar  .container ul li a {
        color: white !important;
    }
    .top-bar .container ul li i {
        color: white !important;
    }
    .top-bar .container ul li  span {
        color: white !important;
    }
    .top-bar     {
        background-color: #478bca !important;
    }
    #logo {
        padding-top: 5px !important;
    }
    </style>
<html lang="tr-TR" class="no-js" >
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Üsküdar Denetim Yeminli Mali Müşavir</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/bundles/css")
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.~/Scripts"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="wrapper">
        <div class="inner-wrapper">
            @*@Html.Partial("_TopBar")*@
            @Html.Action("TopBar", "Home")
            @Html.Partial("_Header")
            <div id="main">
                @RenderBody()
            </div>
            @Html.Action("Footer", "Home")
            @Html.Partial("../Modal/SuccessMessageModal")
            @Html.Partial("../Modal/ErrorMessageModal")
        </div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/inputmask")
    <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
    <script data-cfasync="false" type="text/javascript">lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_11', 'jquery'); } else { lsjQuery("#layerslider_11").layerSlider({ responsiveUnder: 1240, layersContainer: 1170, startInViewport: false, pauseOnHover: false, forceLoopNum: false, autoPlayVideos: false, skinsPath: '../Scripts/layerslider/skins/' }) } });</script>
    <script>
        Inputmask().mask(document.querySelectorAll("input"));
    </script>
    <script>
        function OnSuccessSubscription(response) {
            if (response.success) {
                openShowSuccessModal(response.message)
            }
            else {
                openShowErrorModal(response.message);
            }
        }
        function OnFailureSubscription(response) {
            if (response.success) {
                openShowErrorModal(response.message);
            }
            else {
                openShowErrorModal(response.message);
            }
        }

        function openShowSuccessModal(message) {
            jQuery('#success-modal-title').html('BAŞARILI')
            jQuery('#success-modal-body').html(message)
            jQuery('#success-modal').modal();
        }
        function openShowErrorModal(message) {
            jQuery('#error-modal-title').html('HATA')
            jQuery('#error-modal-body').html(message)
            jQuery('#error-modal').modal();}

        </script>
</body>
</html>


