<!Doctype html>

<html lang="tr-TR" class="no-js">
<head>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-migrate.min.js"></script>
    <script src="/Scripts/jquery-easing-1.3.js"></script>
    <script src="/Scripts/jquery.ui.totop.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/layerslider.transitions.js"></script>
    <script src="/Scripts/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/pace.min.js"></script>
    <script src="/Scripts/jquery.tabs.min.js"></script>
    <script src="/Scripts/jquery.tipTip.minified.js"></script>
    <script src="/Scripts/jquery.parallax-1.1.3.js"></script>
    <script src="/Scripts/jquery.inview.js"></script>
    <script src="/Scripts/jquery.viewport.js"></script>
    <script src="/Scripts/jquery.nav.js"></script>
    <script src="/Scripts/jquery.jcarousel.min.js"></script>
    <script src="/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="/Scripts/jquery.isotope.min.js"></script>
    <script src="/Scripts/jquery.bxslider.min.js"></script>
    <script src="/Scripts/jquery.prettyPhoto.js"></script>
    <script src="/Scripts/masonry.pkgd.min.js"></script>
    <script src="/Scripts/greensock.js"></script>
    <script src="/Scripts/responsive-nav.js"></script>
    <script src="/Scripts/jquery.meanmenu.min.js"></script>
    <script src="/Scripts/jquery.sticky.js"></script>
    <script src="/Scripts/jquery.nicescroll.min.js"></script>
    <script src="/Scripts/custom.js"></script>
    <script src="/Scripts/inputmask/inputmask.js"></script>
    <script src="/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="/Scripts/inputmask/inputmask.extensions.js"></script>
    <script src="/Scripts/inputmask/inputmask.date.extensions.js"></script>
    <script src="/Scripts/inputmask/inputmask.numeric.extensions.js"></script>
    <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
    <script data-cfasync="false" type="text/javascript">lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_11', 'jquery'); } else { lsjQuery("#layerslider_11").layerSlider({ responsiveUnder: 1240, layersContainer: 1170, startInViewport: false, pauseOnHover: false, forceLoopNum: false, autoPlayVideos: false, skinsPath: '/plesk-site-preview/uskudardenetim.com/Scripts/layerslider/skins/' }) } });</script>
    <script>
        Inputmask().mask(document.querySelectorAll("input"));
    </script>
    <script>
        function OnSuccessSubscription(response) {
            if (response.success) {
                openShowSuccessModal(response.message)
            }
            else {
                openShowErrorModal(response.message);
            }
        }
        function OnFailureSubscription(response) {
            if (response.success) {
                openShowErrorModal(response.message);
            }
            else {
                openShowErrorModal(response.message);
            }
        }

        function openShowSuccessModal(message) {
            jQuery('#success-modal-title').html('BAŞARILI')
            jQuery('#success-modal-body').html(message)
            jQuery('#success-modal').modal();
        }
        function openShowErrorModal(message) {
            jQuery('#error-modal-title').html('HATA')
            jQuery('#error-modal-body').html(message)
            jQuery('#error-modal').modal();
        }

    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Üsküdar Denetim Yeminli Mali Müşavirlik</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/bundles/css")
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="wrapper">
        <div class="inner-wrapper">
            @*@Html.Partial("_TopBar")*@
            @Html.Action("TopBar", "Home")
            @Html.Action("Header", "Home")
            <div id="main">
                @RenderBody()
            </div>
            @Html.Action("Footer", "Home")
            @Html.Partial("../Modal/SuccessMessageModal")
            @Html.Partial("../Modal/ErrorMessageModal")
        </div>
    </div>

    @*@Scripts.Render("~/bundles/javascript")
        @Scripts.Render("~/bundles/inputmask")*@

    @*
        <script src="/Scripts/jquery-1.10.2.min.js"></script>
        <script src="/Scripts/jquery-migrate.min.js"></script>
        <script src="/Scripts/jquery-easing-1.3.js"></script>
        <script src="/Scripts/jquery.ui.totop.min.js"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="/Scripts/jquery.validate.min.js"></script>
        <script src="/Scripts/layerslider.transitions.js"></script>
        <script src="/Scripts/layerslider.kreaturamedia.jquery.js"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/pace.min.js"></script>
        <script src="/Scripts/jquery.tabs.min.js"></script>
        <script src="/Scripts/jquery.tipTip.minified.js"></script>
        <script src="/Scripts/jquery.parallax-1.1.3.js"></script>
        <script src="/Scripts/jquery.inview.js"></script>
        <script src="/Scripts/jquery.viewport.js"></script>
        <script src="/Scripts/jquery.nav.js"></script>
        <script src="/Scripts/jquery.jcarousel.min.js"></script>
        <script src="/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="/Scripts/jquery.isotope.min.js"></script>
        <script src="/Scripts/jquery.bxslider.min.js"></script>
        <script src="/Scripts/jquery.prettyPhoto.js"></script>
        <script src="/Scripts/masonry.pkgd.min.js"></script>
        <script src="/Scripts/greensock.js"></script>
        <script src="/Scripts/responsive-nav.js"></script>
        <script src="/Scripts/jquery.meanmenu.min.js"></script>
        <script src="/Scripts/jquery.sticky.js"></script>
        <script src="/Scripts/jquery.nicescroll.min.js"></script>
        <script src="/Scripts/custom.js"></script>
    *@


    @* <script src="/Scripts/inputmask/inputmask.js"></script>
        <script src="/Scripts/inputmask/jquery.inputmask.js"></script>
        <script src="/Scripts/inputmask/inputmask.extensions.js"></script>
        <script src="/Scripts/inputmask/inputmask.date.extensions.js"></script>
        <script src="/Scripts/inputmask/inputmask.numeric.extensions.js"></script>
    *@
    @RenderSection("scripts", required: false)


</body>
</html>


